.teamImage {
    max-width: 200px;
    width: auto;
    height: auto;
    display: block;
    max-height: 200px;
    text-align: center;
    margin: 2rem auto;
};

.teamTitle, .teamSportTitle, .currentOdds{
    width: 100%;
    text-align: center;
    margin: 2rem 0;
};

.teamDescription{

}

.oddsContainer{
    .odds {
        display: inline-block;
        width: 33%;
        padding: 1rem;
    }
}